<div class="w-full py-2 flex items-center justify-start bg-gray-600/75 absolute">
    <p routerLink="''" class="text-rose-400 mx-2 bg-gray-400 transition cursor-pointer p-1 rounded-lg sm:hover:bg-gray-800">Home</p>
    <p routerLink="productos" class="text-rose-400 mx-2 bg-gray-400 transition cursor-pointer p-1 rounded-lg sm:hover:bg-gray-800">Productos</p>
    <p routerLink="empleados" class="text-rose-400 mx-2 bg-gray-400 transition cursor-pointer p-1 rounded-lg sm:hover:bg-gray-800">Empleados</p>
    <p routerLink="analisis" class="text-rose-400 mx-2 bg-gray-400 transition cursor-pointer p-1 rounded-lg sm:hover:bg-gray-800">Analisis</p>
    <div class="w-full flex justify-end">
        <p class="text-rose-400 mx-2 bg-gray-400 transition cursor-pointer p-1 rounded-lg sm:hover:bg-gray-800">Logout</p>
    </div>
</div>
<router-outlet></router-outlet>