<div class="min-h-screen flex justify-center items-center flex-wrap">

  <div class="bg-stone-700/75 border border-gray-200/50 p-4 text-white rounded-lg shadow-lg ">
    <h2 class="text-center w-full mb-2 text-xl">Iniciar Sesion</h2>
    <form (ngSubmit)="loginSubmit(loginForm)" [formGroup]="loginForm" class="example-form">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput class="border">
        <mat-error *ngIf="loginForm.controls['email'].hasError('email') && !loginForm.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password">
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
            La contrasen'ia debe contener almenos <strong>7 caracteres</strong>
        </mat-error>
      </mat-form-field>
      <div class="mt-4">
        <button class="ml-1.5 mr-2 py-1.5 px-2 sm:hover:bg-rose-400 transition cursor-pointer cursor-pointer text-center md:mt-3 rounded-lg bg-rose-400/75">Log In</button>
        <!-- <span class="bg-rose-400 py-1.5 rounded-lg mt-4">
            <button mat-button color="primary">Iniciar Sesion</button>
        </span> -->
        <span class="mx-2">
          <a routerLink="/auth/signup" class="text-blue-400 text-underline sm:hover:text-blue-300">Create new account</a>
        </span>
    </div>
    </form>
  </div>
</div>
<!-- 
{{loginForm.controls['password'].errors | json}}
{{loginForm.controls['email'].errors | json}} -->