<div class="min-h-screen flex justify-center items-center flex-wrap">
    <div class="bg-stone-700/75 border border-gray-200/50 mt-10 sm:mt-0 p-4 text-white sm:rounded-lg shadow-lg sm:w-6/12">
        <h2 class="text-center w-full mb-2 text-xl">Sign up</h2>
        <form (ngSubmit)="registerSubmit(registerForm)" [formGroup]="registerForm" class="example-form">
            <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput class="border">
                <mat-error *ngIf="registerForm.controls['name'].hasError('required')">
                    The field "name" is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['name'].hasError('minlength')">
                    The name must contain at least <strong>4 characters</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['name'].hasError('maxlength')">
                    The name cannot contain more than <strong>70 characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Lastname</mat-label>
                <input formControlName="lastname" matInput class="border">
                <mat-error *ngIf="registerForm.controls['lastname'].hasError('required')">
                    The field "lastname" is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['lastname'].hasError('minlength')">
                    The lastname must contain at least <strong>4 characters</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['lastname'].hasError('maxlength')">
                    The lastname cannot contain more than <strong>40 characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput class="border">
                <mat-error *ngIf="registerForm.controls['email'].hasError('email') && !registerForm.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="registerForm.controls['email'].hasError('maxlength')">
                    The email cannot contain more than <strong>255 characters</strong>
                </mat-error>
               <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password">
                <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                    The field "password" is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                    The password must contain at least <strong>8 characters</strong>
                </mat-error>
            </mat-form-field>
            <div class="mt-2">
                <button class="ml-1.5 mr-2 py-1.5 px-2 sm:hover:bg-rose-400 transition cursor-pointer cursor-pointer text-center md:mt-3 rounded-lg bg-rose-400/75">Sign up</button>
                <span>
                    <a routerLink="/auth" class="text-blue-400 text-underline sm:hover:text-blue-300">Already have an account?</a>
                </span>
            </div>
        </form>
    </div>
</div>