<div class="flex min-h-screen w-full items-center justify-center bg-gray-400/25 z-10 absolute" >
    <div class="bg-[#303030] w-6/12 flex flex-col justify-center p-2 rounded-md">
        <div class="w-full flex">
            <h2 class="w-full mx-2 text-2xl text-gray-200 font-semi-bold mb-2">Add Employee</h2>
            <button class="justify-self-end justify-self-end p-1 bg-rose-600/75 rounded-lg sm:hover:text-white sm:hover:bg-rose-800 transition"
        (click)="closeModalForm()">Cerrar</button>
        </div>
        
        <form (ngSubmit)="addEmployeSubmit(employeeForm)" [formGroup]="employeeForm" class="example-form">
            <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput class="border">
                <mat-error *ngIf="employeeForm.controls['name'].hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="employeeForm.controls['name'].hasError('minlength')">
                    The field "name" must contain at least<strong>4 characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Lastname</mat-label>
                <input formControlName="lastname" matInput class="border">
                <mat-error *ngIf="employeeForm.controls['lastname'].hasError('required')">
                    El apellido es <strong>necesario</strong>
                </mat-error>
                <mat-error *ngIf="employeeForm.controls['lastname'].hasError('minlength')">
                    The field "lastname" must contain at least<strong>7 characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Age</mat-label>
                <input formControlName="age" matInput class="border">
                <mat-error *ngIf="employeeForm.controls['age'].hasError('required')">
                    The field "age" is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput class="border">
                <mat-error *ngIf="employeeForm.controls['email'].hasError('email') && !employeeForm.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="employeeForm.controls['email'].hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
            <mat-form-field class="w-full">
                <mat-label>Occupation</mat-label>
                <input formControlName="occupation" matInput type="text" placeholder="Ejemplo: Repositor">
                <mat-error *ngIf="employeeForm.controls['occupation'].hasError('required')">
                    The occupation is  <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="employeeForm.controls['occupation'].hasError('minlength')">
                    The field "occupation" must contain at least<strong>5 characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Salary</mat-label>
                <input formControlName="salary" matInput type="number" placeholder="Ejemplo: 1000">
                <mat-error *ngIf="employeeForm.controls['salary'].hasError('required')">
                    The field salary is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput type="text" placeholder="Ejemplo: 7 y 50, La Plata">
                <mat-error *ngIf="employeeForm.controls['address'].hasError('minlength')">
                    The field "address" must contain at least<strong>4 characters</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" matInput type="number" placeholder="Ejemplo: 541128519604">
                <mat-error *ngIf="employeeForm.controls['phone'].hasError('minlength')">
                    The field "phone" must contain at least<strong>10 numbers</strong>
                </mat-error>
            </mat-form-field>
<!-- //TODO: Hacer for/iterar cada campo -->
            <div class="mt-2 w-full flex">
                <div class="mx-2">
                    <button mat-raised-button color="primary">Agregar Empleado</button>
                </div>
                <button type="button"  mat-raised-button color="accent" (click)="closeModalForm()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
