<div class="w-full flex items-center flex-col flex-wrap items-center py-16 bg-gray-300 min-h-screen">
  <div class="w-full flex items-end">
    <span class="mx-2 self-end mb-2">
      <button mat-raised-button color="primary" (click)="openModal()">Agregar Producto</button>
    </span>
    <div class="w-full flex justify-center">
        <h2 class="text-center text-2xl mb-2 font-semi-bold">Productos</h2>
    </div>
  </div>

<table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full text-md">

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio - unidad </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="iva">
      <th mat-header-cell *matHeaderCellDef> IVA </th>
      <td mat-cell *matCellDef="let element"> {{element.iva | number:'1.1-2'}}%</td>
    </ng-container>
    <ng-container matColumnDef="acquisitionPrice">
      <th mat-header-cell *matHeaderCellDef> Precio de Fabrica/Proveedor </th>
      <td mat-cell *matCellDef="let element"> {{element.acquisitionPrice | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="finalPrice">
      <th mat-header-cell *matHeaderCellDef> Precio Final </th>
      <td mat-cell *matCellDef="let element"> {{element.price * (element.iva + 1) | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>
    <ng-container matColumnDef="monthlyStock">
      <th mat-header-cell *matHeaderCellDef> Re-Stock Mensual </th>
      <td mat-cell *matCellDef="let element"> {{element.monthlyStock}} </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Categoria</th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>
    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef> Origen </th>
      <td mat-cell *matCellDef="let element"> {{element.source}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edicion </th>
      <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="accent" (click)="onEdit(element.code)">Editar</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Borrar </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-raised-button color="warn" (click)="onDelete(element.code)">Borrar</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons class="w-full"
    aria-label="Select page of periodic elements">
  </mat-paginator>

</div>