<div class="min-h-screen flex justify-center items-center flex-wrap flex-col">
    
    <div class="bg-rose-300/75 py-2 sm:py-4 rounded-lg w-full md:w-6/12 lg:w-4/12 flex justify-center flex-col items-center">
        <h1 class="text-xl sm:text-2xl text-white font-semi-bold pt-2 my-2 sm:pt-4 justify-self-start sm:my-4">Inventory Management</h1>
        <p class="mt-2 mb-2 sm:mb-4 mx-4 text-xs sm:text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et itaque ea officiis ullam nulla repudiandae molestiae, commodi rerum autem? Voluptatem debitis rerum repudiandae ea non aspernatur corporis dolorum quam.</p>
        <h3 class="text-center w-full md:font-semibold">Social / Contact:</h3>
        <ul class="flex mt-2 sm:mt-5">
            <li class=" mx-2"><a class="cursor-pointer rounded-lg sm:py-1.5 bg-gray-400/75 sm:hover:bg-gray-500 transition shadow-md sm:hover:text-rose-200 p-0.5 sm:p-1" href="https://github.com/miquigz">Github</a></li>
            <li class=" mx-2"><a class="cursor-pointer rounded-lg sm:py-1.5 bg-gray-400/75 sm:hover:bg-gray-500 transition shadow-md sm:hover:text-rose-200 p-0.5 sm:p-1" href="https://www.linkedin.com/in/miqueasgimenez/">Linkedin</a></li>
            <li class=" mx-2"><a class="cursor-pointer rounded-lg sm:py-1.5 bg-gray-400/75 sm:hover:bg-gray-500 transition shadow-md sm:hover:text-rose-200 p-0.5 sm:p-1" href="https://miquigz.github.io/">Portfolio</a></li>
        </ul>
    </div>
</div>