<h1 mat-dialog-title>Agregar Producto</h1>
<div mat-dialog-content>
    <form [formGroup]="newProductForm">
        <mat-form-field>
            <input matInput formControlName="code" placeholder="Codigo">
            <mat-error *ngIf="newProductForm.hasError('code') && !newProductForm.hasError('required')">
                Please enter a valid code.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="newProductForm.hasError('name') && !newProductForm.hasError('required')">
                Please enter a valid name.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="description" formControlName="description">
            <mat-error *ngIf="newProductForm.hasError('name') && !newProductForm.hasError('required')">
                Please enter a valid description.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Description is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price" formControlName="price">
            <mat-error *ngIf="newProductForm.hasError('price') && !newProductForm.hasError('required')">
                Please enter a valid price.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Field Price is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Acquisition Price" formControlName="acquisitionPrice">
          <mat-error *ngIf="newProductForm.hasError('acquisitionPrice') && !newProductForm.hasError('required')">
              Please enter a valid acquisitionPrice.
            </mat-error>
            <mat-error *ngIf="newProductForm.hasError('required')">
              Field acquisitionPrice is <strong>required</strong>
            </mat-error>
      </mat-form-field>
        <mat-form-field>
            <mat-label>IVA</mat-label>
            <input matInput placeholder="Example: 0.21" type="number" formControlName="iva">
            <mat-error *ngIf="newProductForm.hasError('iva') && !newProductForm.hasError('required')">
                Please enter a valid name.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Stock" formControlName="stock" >
            <mat-error *ngIf="newProductForm.hasError('stock') && !newProductForm.hasError('required')">
                Please enter a valid name.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Restock" type="number" formControlName="monthlyStock" >
            <mat-error *ngIf="newProductForm.hasError('monthlyStock') && !newProductForm.hasError('required')">
                Please enter a valid name.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Category" formControlName="category" >
            <mat-error *ngIf="newProductForm.hasError('category') && !newProductForm.hasError('required')">
                Please enter a valid name.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Source" formControlName="source">
            <mat-error *ngIf="newProductForm.hasError('source') && !newProductForm.hasError('required')">
                Please enter a valid name.
              </mat-error>
              <mat-error *ngIf="newProductForm.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Final Price" [value]="(newProductForm.value.iva + 1) * newProductForm.value.price | currency">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button type="button" color="primary" (click)="close()" mat-raised-button>Agregar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
</div>