<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
    <form (ngSubmit)="onSubmit($event)" [formGroup]="newProductForm" class="py-12">
        <mat-form-field>
          <input matInput formControlName="code" placeholder="Code">
          <mat-error *ngIf="newProductForm.controls['code'].hasError('required')">
            The field "code" is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="newProductForm.controls['code'].hasError('minlength')">
              The field "code" must have at least <strong>3 characters</strong>
          </mat-error>
          <mat-error *ngIf="newProductForm.controls['code'].hasError('maxlength')">
              The field "code" must have a maximum of <strong>10 characters</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Name">
          <mat-error *ngIf="newProductForm.controls['name'].hasError('required')">
            The field "name" is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="newProductForm.controls['name'].hasError('minlength')">
            The field "name" must have at least <strong>3 characters</strong>
          </mat-error>
          <mat-error *ngIf="newProductForm.controls['name'].hasError('maxlength')">
            The field "name" must have a maximum of <strong>10 characters</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="description" formControlName="description">
            <mat-error *ngIf="newProductForm.controls['description'].hasError('required')">
              Please enter a valid description.
            </mat-error>
            <mat-error *ngIf="newProductForm.controls['description'].hasError('maxlength')">
              The field "description" must have a maximum of <strong>100 characters</strong>
            </mat-error>
            <mat-error *ngIf="newProductForm.controls['description'].hasError('minlength')">
              The field "description" must have at least <strong>8 characters</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Price" formControlName="price">
          <mat-error *ngIf="newProductForm.controls['price'].hasError('required')">
            The field "price" is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="newProductForm.controls['price'].hasError('min')">
            The field "price" must must be greater than or equal to<strong>0</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Acquisition Price" formControlName="acquisitionPrice">
          <mat-error *ngIf="newProductForm.controls['acquisitionPrice'].hasError('required')">
            The field "acquisitionPrice" is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="newProductForm.controls['acquisitionPrice'].hasError('min')">
            The field "acquisitionPrice" must must be greater than or equal to<strong>0</strong>
          </mat-error>
      </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Stock" formControlName="stock" >
            <mat-error *ngIf="newProductForm.controls['stock'].hasError('required')">
              Please enter a valid stock.
            </mat-error>
            <mat-error *ngIf="newProductForm.controls['stock'].hasError('min')">
              The field "stock" must must be greater than or equal to <strong>0</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Restock" type="number" formControlName="monthlyStock" >
            <mat-error *ngIf="newProductForm.controls['monthlyStock'].hasError('required')">
              Please enter a valid re-stock.
            </mat-error>
            <mat-error *ngIf="newProductForm.controls['monthlyStock'].hasError('min')">
              The field "re-stock" must must be greater than or equal to <strong>0</strong>
            </mat-error>
      </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Category" formControlName="category" >
            <mat-error *ngIf="newProductForm.controls['category'].hasError('required')">
              The field "category" is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="newProductForm.controls['category'].hasError('minlength')">
              The field "category" must have at least <strong>3 characters</strong>
            </mat-error>
            <mat-error *ngIf="newProductForm.controls['category'].hasError('maxlength')">
              The field "category" must have a maximum of <strong>10 characters</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>IVA</mat-label>
          <input matInput placeholder="Example: 0.21" type="number" formControlName="iva">
          <mat-error *ngIf="newProductForm.controls['iva'].hasError('min')">
            The field "iva" must must be greater than or equal to <strong>0</strong>
          </mat-error>
      </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Source" formControlName="source">
            <mat-error *ngIf="newProductForm.controls['source'].hasError('minlength')">
              The field "source" must have at least <strong>3 characters</strong>
            </mat-error>
            <mat-error *ngIf="newProductForm.controls['source'].hasError('maxlength')">
              The field "source" must have a maximum of <strong>10 characters</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input disabled matInput placeholder="Final Price" [value]="(newProductForm.value.iva + 1) * newProductForm.value.price | currency">
        </mat-form-field>
        <div mat-dialog-actions>
          <span class="sm:hover:text-stone-600 text-white">
            <button type="submit" color="primary" mat-raised-button>Aggregate</button>
          </span>
          
          <span class="bg-gray-200 rounded-md text-black sm:hover:text-stone-600 mx-2">
            <button mat-button mat-dialog-close>Cancel</button>
          </span>
          
      </div>
    </form>
</div>