<div class="min-h-screen bg-stone-700/50 flex items-center justify-center text-white md:flex-nowrap flex-wrap">
  <hr class="bg-black pt-0.5 w-6/12 mt-32 lg:mt-4 mb-4">
  <div class="bg-gray-100/50 rounded-lg p-2">
    <app-chart-employees></app-chart-employees>
  </div>
  <hr class="bg-black pt-0.5 w-6/12 my-4">
  <div class="bg-gray-100/50 rounded-lg p-2">
    <app-chart-products></app-chart-products>
  </div>
  <hr class="bg-black pt-0.5 w-6/12 my-4">
  <div class="bg-gray-100/50 rounded-lg p-2">
    <app-chart-stocks></app-chart-stocks>
  </div>
  <hr class="bg-black pt-0.5 w-6/12 my-4">
</div>
